.price{
    background-color: var(--Verydarkcyan);
    width: 100%;
    height: 100%;
    padding: 2rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
       
}
h2{
    font-size: 2.6rem;
    color: var(--Strongcyan);
}
h3{
    margin: 0;
    color: var(--Lightgrayishcyan-otro);
    font-size: 1.3rem;
}
p{
    color: var(--Lightgrayishcyan);
}

.labels{
    justify-content: space-between;
    display: flex;
}
.btn-reset{
    width: 100%;
    height: 4.3rem;
    border: 0;
    background-color:var(--Strongcyan);
    color: var(--Verydarkcyan);
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 1rem;
    border-radius: 6px;
    /* padding: 1.3rem; */
}

@media (min-width: 700px) {
    .price{
        justify-content: space-around;
    }
    h2{
        font-size: 3.5rem;
    }

    .label-medium{
        margin-top: -4rem;
    }
    .btn-reset{
        margin-top: 3rem;
    }
}