<div class="price">

    <div class="labels">
        <div class="label-seccion">
            <h3>Tip Amount</h3>
            <p>/ person</p>
        </div>
        <h2>{{valorTip | currency:'MNX':'$':'1.2-2'}}</h2>
    </div>

    <div class="labels label-medium">
        <div class="label-seccion">
            <h3>Total</h3>
            <p>/ person</p>
        </div>
        <h2>{{valorTotalPersona | currency:'MNX':'$':'1.2-2'}}</h2>
    </div>

    <button (click)="clean()" class="btn-reset">RESET</button>

</div>