<div class="bill">
    <form>
        <label for="inputBill">Bill</label>
        <input type="text" value="142.55">
        <label>Select Tip %</label>
        <div class="grupo-botones">
            <input type="button" value="5%">
            <input type="button" value="10%">
            <input type="button" value="15%">
            <input type="button" value="25%">
            <input type="button" value="50%">
            <input type="button" value="Custom">
        </div>
        <label for="inputNumberP">Number of People</label>
        <input type="text" value="5">
    </form>
</div>